<div *ngIf="book">
    <h3>{{book.title}}</h3>
    <img *ngIf="book.cover_i" src="https://covers.openlibrary.org/b/id/{{book.cover_i}}-S.jpg" [alt]="book.title">

    <p><b>Author :</b> <span *ngIf="!book.author_name">Unknown</span>
        {{book.author_name}}</p>

    <p *ngIf="book.subject"><b>Subject : </b>{{book.subject}}</p>
</div>