<h1>Search a book</h1>
<form (ngSubmit)="onSubmit()">
    <input type="text" id="search" name="search" [(ngModel)]="query">
    <button type="submit">Search</button>
<div *ngIf="results">
<div *ngFor="let book of results?.docs"><app-book [book]="book"></app-book></div>
</div>
    